.mtop {
  margin-top: 10px;
}

.bg {
  background: url(/assets/img/background_image.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-bg {
  background-color: red;
}
.scrollable {
  height: 350px;
  overflow-y: scroll;
}
